input,
button {
  box-sizing: border-box;
  outline: none;
}
.search {
  width: 600px;
  margin: 50px auto;
}
.search-wrap {
  display: flex;
  height: 70px;
}
.search-input {
  padding: 10px;
  width: 680px;
  height: 50px;
  border: 1px solid #ddd;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
}
.search-input::placeholder {
  font-size: 20px;
}
.search-button {
  width: 120px;
  height: 50px;
  background-color: orange;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.keywords-wrap span {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.keywords-wrap span i {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: -2px;
  background-color: orange;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  color: #fff;
  display: none;
  cursor: pointer;
}
.keywords-wrap span:hover i {
  display: block;
}
