@font-face {
  font-family: "iconfont"; /* Project id 4940372 */
  src: url('iconfont.woff2?t=1749035265933') format('woff2'),
       url('iconfont.woff?t=1749035265933') format('woff'),
       url('iconfont.ttf?t=1749035265933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow-left:before {
  content: "\e664";
}

.icon-icon-arrow-right:before {
  content: "\e666";
}

.icon-icon-d-arrow-left:before {
  content: "\e670";
}

.icon-icon-d-arrow-right:before {
  content: "\e671";
}

